#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_GB]=/
Name[en_GB]=index-1.0
Exec=/usr/share/applications/index.php
Comment[en_GB]=PHP RSS
Name=index-1.0
Comment=PHP RSS
Icon=index.png
